#menu_sort {
  margin-top: 43px;
}

.nav-menu--sort {
  padding: 5px 0;
}

.menu--sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  color: #777777;

  li {
    list-style: none;
    margin-right: 29px;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    font-family: $ff-menu;
    font-size: 0.8rem;
    color: #777777;
    text-decoration: none;
  }

  a:hover {
    padding: 15px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
  }
}