.hero_carousel {
  position: relative;
}

.carousel-inner {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .item {
    display: none;
    position: relative;
    transition: .6s ease-in-out left;
  }

  .active {
    display: block;
    left: 0;
  }
}