body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1em;
  background-color: #ddd;
}

input[name="carousel-state"] {
  position: absolute;
  left: -10000px;
}

label {
  display: block;
  padding: .5em;
  position: absolute;
  background-color: #ddd;
  top: 130px;
  width: 70px;
  text-align: center;
  &:hover {
    background-color: #fff;
  }
}

#one:checked ~ .controls .three, #two:checked ~ .controls .one, #three:checked ~ .controls .two {
  left: 0;
  display: block;
}

#one:checked ~ .controls .two, #two:checked ~ .controls .three, #three:checked ~ .controls .one {
  right: 0;
  display: block;
}

#one:checked ~ .controls .three:after, #two:checked ~ .controls .one:after, #three:checked ~ .controls .two:after {
  content: 'Prev';
}

#one:checked ~ .controls .two:after, #two:checked ~ .controls .three:after, #three:checked ~ .controls .one:after {
  content: 'Next';
}

.things {
  font-size: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
    background-color: #eee;
    height: 300px;
    width: 100%;
    display: none;
    text-align: center;
    line-height: 300px;
    font-size: 100px;
  }
}

#one:checked ~ .things .one, #two:checked ~ .things .two, #three:checked ~ .things .three {
  display: block;
}