.carousel {
  position: relative;
}

/*Indicators*/
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}

/* Sliders*/
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  transition: .6s ease-in-out left;
}

.carousel-item.active {
  display: block;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

//.carousel-item {
//  position: relative;
//  display: none;
//  align-items: center;
//  width: 100%;
//  transition: transform .6s ease;
//  backface-visibility: hidden;
//  perspective: 1000px;
//}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
}

.w-100 {
  width: 100%!important;
}

.d-block {
  display: block!important;
}

/*----- Slider controls ----*/
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #777777;
  text-align: center;
  opacity: .5;
  font-size: 2.375rem;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  color: #ff9c00;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}