/*----- Common style -----*/
#about .hero {
    position: relative;
    background: url(../images/about_hero.png) center right no-repeat #f0f0f2;
    background-size: contain;
    width: 100%;
    height: 280px;
}

.about_section,
.services_section,
.teamwork_section {
    text-align: center;
}

/*----- Style for about section -----*/
.about__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 70px auto;
}

.about_carousel {
    margin: 0;
    width:400px;
    height: 300px;
    position: relative;
}
.about_carousel img {
    display: none; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
    width: 80%;
    border: 4px solid #fff;
}

.about__item--text {
    /*margin: 0 auto 0 105px;*/
    width: 400px;
    padding-left: 110px;
}

.accordion-container {
    position: relative;
    width: 100%;
    background: #fff;
    border-top: none;
    outline: 0;
    cursor: pointer
}

.accordion-container .article-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 9px 80px;
    border-top: 1px solid #ebebeb;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #505050;
    cursor: pointer;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
    background-color: #f7f7f7;
    color: #ff9c00;
    border-bottom: 1px solid #ebebeb;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
    color: #ff9c00;
}

.accordion-container .content-entry i {
    position: absolute;
    top: 3px;
    left: 12px;
    font-style: normal;
    font-size: 1.5rem;
    color: #505050;
}

.accordion-container .content-entry i:before {
    content: "+ ";
}

.accordion-container .content-entry.open i:before {
    content: "- ";
}

.accordion-content {
    display: none;
    padding: 0 15px 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.5;
}
/* This stuff is just for the Codepen demo */
.content-entry {
    text-align: left;
}

.accordion-container,
#description {
    width: 95%;
    margin: 5px 12px;
}

#description p {
    line-height: 1.5;
}

/*----- Progress Bar -----*/
.skills-bar-container {
    position: relative;
    width: 40%;
    min-width: 300px;
    /*transform: translate(-50%, -50%);*/
    list-style: none;
    padding: 0;
    margin: auto;
}
.skills-bar-container li {
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
    color: #505050;
}
.skills-bar-container li .progressbar-title h3 {
    display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 5px;
    top: 25px;
}
.skills-bar-container li .bar-container {
    background: #ebebeb;
    position: relative;
    width: 100%;
    height: 10px;
    margin-top: 5px;
    display: block;
}
.skills-bar-container li .bar-container .progressbar {
    position: absolute;
    width: 0;
    height: 40%;
    top: 3px;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.skills-bar-container li .bar-container #progress-ui {
    animation-name: progress-ui;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-html {
    animation-name: progress-html;
    animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-javascript {
    animation-name: progress-javascript;
    animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-php {
    animation-name: progress-php;
    animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-web_design {
    animation-name: progress-web_design;
    animation-delay: 3.5s;
}
.progressred {
    background-color: #c0392b;
}
.progressblue {
    background-color: #19f;
}
.progresspurple {
    background-color: #9b59b6;
}
.progressorange {
    background-color: #ffa500;
}
.progressgreen {
    background-color: #27ae60;
}
@keyframes progress-ui {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes progress-html {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}
@keyframes progress-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes progress-php {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes progress-web_design {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}


/*----- Style for services section -----*/
.services_section {
    padding-bottom: 15px;
}

.services_wrapper {
    margin: 62px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_item {
    width: 25%;
}

.service__description {
    padding: 0 15px;
}

.figure {
    width: 60px;
    background: #fff;
    height: 36px;
    position: relative;
    transform: rotate(90deg);
    margin: 0 auto;
    cursor: pointer;
}

.figure:hover {
    background: #ff9c00;
}

.figure:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -18px;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 18px solid #fff;
}

.figure:hover:before {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 18px solid #ff9c00;
}

.figure:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -18px;
    left: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 18px solid #fff;
}

.figure:hover:after {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 18px solid #ff9c00;
}

.figure .development--icon {
    background: url(../images/code.png) no-repeat center;
    background-size: contain;
    transform: rotate(-90deg);
    display: block;
    height: 100%;
    z-index: 3;
}

.figure .development--icon:hover {
    background-image: url(../images/code_hover.png);
}

.figure .html--icon {
    background: url(../images/html.png) no-repeat center;
    background-size: contain;
    transform: rotate(-90deg);
    display: block;
    height: 100%;
    z-index: 3;
}

.figure .html--icon:hover {
    background-image: url(../images/html_hover.png);
}

.figure .mobile--icon {
    background: url(../images/mobile.png) no-repeat center;
    background-size: contain;
    transform: rotate(-90deg);
    display: block;
    height: 100%;
    z-index: 3;
}

.figure .mobile--icon:hover {
    background-image: url(../images/mobile_hover.png);
}

.figure .ui--icon {
    background: url(../images/pencil.png) no-repeat center;
    background-size: contain;
    transform: rotate(-90deg);
    display: block;
    height: 100%;
    z-index: 3;
}

.figure .ui--icon:hover {
    background-image: url(../images/pencil_hover.png);
}

.service__header {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.032rem;
    margin: 37px auto 12px;
}

.services__text {
    color: #777777;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .8rem;
}

/*----- Style for teamwork section -----*/
.team_carousel {
    position: relative;
    margin-top: 64px;
}

#team__carousel .carousel-inner {
    position: relative;
    margin-bottom: 83px;
}

#team__carousel .item {
    position: relative;
    transition: .6s ease-in-out left;
}

#team__carousel .slide {
    display: flex;
}

#team__carousel .img_item:last-child {
    margin-right: 0;
}

#team__carousel .img_item {
    width: 212px;
    margin-right: 16px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#team__carousel img {
    width: 100%;
    height: auto;
}

/* Text */
.name {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 22px 0 10px;
}

.position {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: 20px;
}

/*----- Hover style -----*/
.member__description {
    display: none;
    width: 212px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    /*left: 0;*/
    top: 0;
}

.member_social {
    background: #262626;
    padding: 74px 20px;
    display: flex;
    justify-content: center;
}

.member_social--item {
    margin: auto;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member_social a {
    color: #262626;
}

.member_social--icon {
    margin: 10px;
}

.member__description--icon {
    margin-bottom: 10px;
}

.name__description {
    color: #ff9c00;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 26px 0 10px;
}

.position__description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: 20px;
}