@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700');

/* Basic Style */
html,
body {
    position: relative;
    margin: 0;
    color: #777777;
    padding: 0;
    width: 100%;
    height: 100%;
}

hr {
    margin: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

.container {
    position: relative;
    max-width: 912px;
    margin: auto;
}

/* Title on pages */
.title__uppercase {
    text-transform: uppercase;
}

.title__bold {
    font-weight: 700;
}

.comment__block--title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 6px auto;
}

.section__title,
.post__title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.section__title {
    font-size: 1.5rem;
    margin: 47px 0 32px;
}

.post__title {
    font-size: 1.8rem;
    margin: 47px 0 11px;
}

.section__description {
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    font-weight: 700;
}

.section__description--accent {
    color: #ff9c00;
}

/* Pages Style*/
#home {
    background: #f2f2f2;
}

#about {
    background: #131313;
    border-bottom: 5px solid #ff9c00;
}

#blog {
    border-bottom: none;
}

.section {
    text-align: center;
}

/*----- Style for hero section on pages -----*/
.hero--description {
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.hero__title,
.hero__title--blog {
    width: 350px;
    background: #131313;
    padding: 0 0 4px 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 24px;
}

.hero__title--blog {
    width: 375px;
}

.hero__title_orange {
    color: #ff9c00;
}

.hero__text {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #777777;
}

/*----- Style for button on pages -----*/
.btn {
    padding: 15px 30px;
    width: 125px;
    margin: auto;
    cursor: pointer;
}

.button--text {
    text-transform: uppercase;
}

.button_orange {
    color: #fff;
    background: #ff9c00;
}

.button_orange:hover {
    color: #ff9c00;
    background: #131313;
}

.button_black {
    color: #ff9c00;
    background: #131313;
}

.button_black:hover,
.button-post--right:hover,
.button-post--left:hover {
    color: #fff;
    background: #ff9c00;
}

.button_black--submit {
    width: 172px;
    color: #fff;
    background: #131313;
    border: none;
    padding: 8px 0;
}

.button_black--submit:hover {
    color: #ff9c00;
}

.btn-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f2f2f2;
    color: #777777;
    margin: auto;
    font-size: 1.5rem;
    line-height: 40px;
    cursor: pointer;
}

.button-post {
    padding: 10px 0;
    width: 95px;
    background: #777777;
    text-align: center;
    font-size: .7rem;
    margin-left: 0;
}

.button-post:hover {
    background: #ff9c00;
}

/*----- Active class for carousel -----*/
.is_active {
    display: block;
    left: 0;
}

/*----- Hidden class for Load More -----*/
.hidden {
    display: none;
}

.is-hidden {
    display: none;
}

/*----- Form Style -----*/
.form {
    position: relative;
    border-radius: 3px;
    color: #828282;
}

.form__fields {
    margin-bottom: 24px;
}

.form__input {
    display: block;
    padding: 8px 20px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-size: 0.875rem;
    border-left: 2px solid #ff9c00;
}

input::placeholder {
    color: #bababa;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: .7rem;
}

textarea::placeholder {
    color: #bababa;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: .6rem;
}