/*----- Common style -----*/
#contact .hero {
    position: relative;
    background: url(../images/contact_hero.png) center right no-repeat #f0f0f2;
    background-size: contain;
    width: 100%;
    height: 280px;
}

#contact .map {
    margin: 36px auto 0;
    position: relative;
    background: url(../images/map.png) center no-repeat #f0f0f2;
    background-size: cover;
    z-index: 4;
    width: 100%;
    height: 354px;
}

#contact .map iframe {
    width: 100%;
    height: 354px;
}

.contact__content {
    display: flex;
    padding: 26px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.address {
    position: absolute;
    width: 230px;
    height: 81px;
    top: 17%;
    left: 41%;
    background: #262626;
    color: #d7d7d7;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5;
}

.address:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 46%;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 28px solid #262626;
}

.office_info {
    font-family: 'Lato', sans-serif;
    color: #262626;
    line-height: 1;
}

.title__office_info {
    font-weight: 700;
    font-size: 1.5rem;
    margin: auto;
    width: 328px;
}

.text__office_info {
    font-weight: 100;
    font-size: .8rem;
}

.decription__office_info {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
}

.title_discription__office_info {
    font-weight: 700;
}


/*----- Form style -----*/
.contact__form--input {
    width: 490px;
    margin-bottom: 6px;
}