/*----- Common style -----*/
#contact .hero {
    position: relative;
    background: url(../images/contact_hero.png) center right no-repeat #f0f0f2;
    background-size: contain;
    width: 100%;
    height: 280px;
}

#contact .map {
    margin: 36px auto 0;
    position: relative;
    background: url(../images/map.png) center no-repeat #f0f0f2;
    background-size: cover;
    z-index: 4;
    width: 100%;
    height: 354px;
}

#contact .map iframe {
    width: 100%;
    height: 354px;
}

.contact__content {
    padding: 26px 0;
}

.address {
    position: absolute;
    width: 230px;
    height: 81px;
    top: 17%;
    left: 41%;
    background: #262626;
    color: #d7d7d7;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.5;
}

.address:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 46%;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 28px solid #262626;
}

.form {
    position: relative;
    border-radius: 3px;
    color: #828282;
}

.form__fields {
    margin-bottom: 24px;
}

.form__input {
    width: 242px;
    display: block;
    padding: 8px 20px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-size: 0.875rem;
    margin-bottom: 6px;
    border-left: 2px solid #ff9c00;
}

input::placeholder {
    color: #bababa;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: .7rem;
}

textarea::placeholder {
    color: #bababa;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: .6rem;
}
