header {
    background: #131313;
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 65px;
}

header .logo {
    margin: -3px 0;
    z-index: 2;
}

header .logo__picture {
    width: 71%;
}

/*----- Mobile Style -----*/
@media (max-width: 480px) {
    .header {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 58px;
        position: relative;
    }

    header .logo {
        /*width: 43%;*/
        padding: 0 43px;
        margin: 16px 0;
    }

    header .logo__picture {
        width: 66%;
    }
}
