header {
    background: #131313;
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 73px;
}

.logo {
    width: 30%;
    margin: -3px 0;
    z-index: 2;
}

.logo__picture {
    width: 72%;
}
