header {
    background: #131313;
    width: 100%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 65px;
}

header .logo {
    margin: -3px 0;
    z-index: 2;
}

header .logo__picture {
    width: 71%;
}

/*----- Mobile Style -----*/
@media (max-width: 480px) {
    .header {
        height: 58px;
    }

    header .logo {
        margin-left: 43px;
    }

    header .logo__picture {
        width: 66%;
    }
}
