#menu {
  width: 70%;
}

#menu .nav-menu {
  padding: 5px 0;
}

#menu .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: #777777;
}

/*#menu li {*/
  /*list-style: none;*/
  /*margin-right: 29px;*/
  /*text-transform: uppercase;*/
/*}*/

/*#menu li:last-child {*/
  /*margin-right: 0;*/
/*}*/

#menu li a {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #777777;
  text-decoration: none;
}

#menu li a:hover {
  padding: 14px 0;
  color: #ff9c00;
  border-top: 2px solid #ff9c00;
  border-bottom: 2px solid #ff9c00;
}

#menu .menu li.active a {
  padding: 14px 0;
  color: #ff9c00;
  border-top: 2px solid #ff9c00;
  border-bottom: 2px solid #ff9c00;
}