#menu_sort {
  margin-top: 43px;
}

#menu_sort .nav-menu--sort {
  padding: 5px 0;
}

#menu_sort .menu--sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  color: #777777;
}

/*#menu_sort li {*/
  /*list-style: none;*/
  /*margin-right: 29px;*/
  /*text-transform: uppercase;*/
/*}*/

/*#menu_sort li:last-child {*/
  /*margin-right: 0;*/
/*}*/

#menu_sort a {
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: #777777;
  text-decoration: none;
}

#menu_sort a:hover {
  padding: 15px 0;
  color: #ff9c00;
  border-top: 2px solid #ff9c00;
  border-bottom: 2px solid #ff9c00;
}