#menu__social {
  margin: 6px 0 30px;
}

.nav-menu--social {
  padding: 5px 0;
}

.menu--social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  color: #777777;
}

li {
  list-style: none;
  width: 63px;
  text-transform: uppercase;
}

li:last-child {
  margin-right: 0;
}

a {
  font-family: Lato-Bold;
  font-size: .7rem;
  color: #777777;
  text-decoration: none;
}

a:hover {
  padding: 15px 20px;
  color: #ff9c00;
  border-top: 2px solid #ff9c00;
  border-bottom: 2px solid #ff9c00;
}