#menu__social {
  margin: 6px 0 30px;
}

#menu__social .nav-menu--social {
  padding: 5px 0;
}

#menu__social .menu--social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  color: #777777;
}

#menu__social li {
  list-style: none;
  width: 63px;
  text-transform: uppercase;
}

#menu__social li:last-child {
  margin-right: 0;
}

#menu__social a {
  font-family: 'Lato', sans-serif;
  font-size: .7rem;
  font-weight: 700;
  color: #777777;
  text-decoration: none;
}

#menu__social a:hover {
  padding: 15px 20px;
  color: #ff9c00;
  border-top: 2px solid #ff9c00;
  border-bottom: 2px solid #ff9c00;
}