/*------------ Carousel indicators teamwork section ------------*/
.slider__dots {
    width: 100%;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.slider__dots-item {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 3px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    background: #262626;
}

.current {
    background-color: #ff9c00;
}

/*------------ Carousel hero control ------------*/
.controls {
    position: absolute;
    top: -40px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.375rem;
}

.carousel-control {
    display: inline-block;
    width: 100%;
    margin-right: 6%;
    margin-left: 9%;
    vertical-align: bottom;
}

.right {
    text-align: right;
}

.fa-angle-right:hover,
.fa-angle-left:hover {
    color: #ff9c00;
}