/*----- Style for navigation on pages -----*/
li {
    list-style: none;
    margin-right: 29px;
    text-transform: uppercase;
}

li:last-child {
    margin-right: 0;
}

#menu a,
#menu__social a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #777777;
    text-decoration: none;
}

#menu a:hover,
#menu__social a:hover {
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

#menu .active a,
#menu__social .active a {
    padding: 13px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

/*----- Main menu navigation style with Item Search -----*/
.nav-menu {
    z-index: 2;
    transform: translate3d(0, 0, 0);
    transition: all .5s ease-in-out;
}

.nav-menu, .box {
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
}

.nav-menu .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #777777;
}

.nav-menu .menu ul {
    position: relative;
    width: 100%;
}

.nav-menu ul,
.nav-menu li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding: 1px 0;
    margin-right: 29px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    font-size: 0.875rem;
}

.nav-menu a:hover {
    padding: 13px 0;
}

.box {
    display: inline-table;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
}

.box form {
    height: 30px;
}

.search {
    display: block;
    background: inherit;
    overflow: hidden;
    height: 30px;
    border-radius: 5px;
}

.search .s-b,
.search .s-i {
    width: 30px;
    height: 32px;
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;
}

.search .s-b {
    color: #777777;
    font-size: 18px;
}

.search .s-i {
    transition: width .6s ease;
    width: 0;
    background: #eee;
    color: #666;
}

.search-exp .search .s-b {
    background: #ff9c00;
    color: #FFF;
    padding: 0 8px;
}

.search-exp .search .s-i {
    margin: 0 0 0 -5px;
    padding: 1px 8px 0 6px;
    width: 170px;
}

/*----- Sort menu from portfolio navigation style*/
#menu_sort {
    margin-top: 43px;
}

#menu_sort .nav-menu--sort {
    padding: 5px 0;
}

#menu_sort .menu--sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    color: #777777;
}

#menu_sort button {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #777777;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
}

#menu_sort span:hover {
    padding: 15px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

#menu_sort .active span {
    padding: 13px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

/*----- Social menu from footer navigation style*/
#menu__social {
    margin: 33px 0 53px;
}

#menu__social .nav-menu--social {
    padding: 5px 0;
}

#menu__social .menu--social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    color: #777777;
}

#menu__social li {
    list-style: none;
    width: 50px;
    text-transform: uppercase;
}

#menu__social li:last-child {
    margin-right: 0;
}

#menu__social a {
    font-size: .7rem;
}

#menu__social a:hover {
    padding: 15px 20px;
}

/*----- Menu controls from portfolio details navigation style*/
#menu_controls {
    background: #fff;
}

#menu_controls .menu--controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    color: #777777;
    text-align: center;
}

#menu_controls li {
    margin-right: 0;
    padding: 20px 0;
    width: 130px;
    border-left: 1px solid #ebebeb;
}

#menu_controls li:last-child {
    border-right: 1px solid #ebebeb;
}

#menu_controls a {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #777777;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
}

#menu_controls a:hover {
    padding: 15px 0;
    color: #ff9c00;
}

#menu_controls .fa-angle-left {
    margin-right: 10px;
}

#menu_controls .fa-angle-right {
    margin-left: 10px;
}

/*----- Hamburger menu -----*/
#openup {
    display: none;
}

@media screen and (max-width: 480px) {
    .menu {
        height: auto;
        border-bottom: 0;
    }

    .menu ul {
        display: none;
        height: auto;
    }
    .menu li {
        width: 100%;
        float: left;
        position: relative;
    }
    .menu a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    .menu a:hover {
        background: #444;
    }
    /*.menu a#openup:after {*/
        /*content: "";*/
        /*transform: rotate(-90deg);*/
        /*-ms-transform: rotate(-90deg);*/
        /*!* IE 9 *!*/
        /*-webkit-transform: rotate(-90deg);*/
        /*!* Safari and Chrome *!*/
        /*width: 30px;*/
        /*height: 30px;*/
        /*display: inline-block;*/
        /*position: absolute;*/
        /*right: 5px;*/
        /*top: 20px;*/
    /*}*/
    #openup {
        display: block;
        margin: 11px 41px;
        width: 100%;
        position: relative;
    }

    #openup i {
        font-size: 2rem;
    }
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    text-align: center;
    zoom: 1;
    background: #131313;
}

/* For IE 6/7 (trigger hasLayout) */