/*----- Style for navigation on pages -----*/
li {
    list-style: none;
    margin-right: 20px;
    text-transform: uppercase;
}

li:last-child {
    margin-right: 0;
}

#nav a,
#menu__social a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #777777;
    text-decoration: none;
}

#nav a:hover,
#menu__social a:hover {
    padding: 11px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

#nav .active a,
#menu__social .active a {
    padding: 11px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

/*----- Main menu navigation style with Item Search -----*/
.box {
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    position: relative;
}

.box {
    display: inline-table;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
}

.box form {
    height: 30px;
}

.search {
    display: block;
    background: inherit;
    overflow: hidden;
    height: 30px;
    border-radius: 5px;
}

.search .s-b,
.search .s-i {
    width: 30px;
    height: 32px;
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    outline: none;
}

.search .s-b {
    color: #777777;
    font-size: 18px;
}

.search .s-i {
    transition: width .6s ease;
    width: 0;
    background: #eee;
    color: #666;
}

.search-exp .search .s-b {
    background: #ff9c00;
    color: #FFF;
    padding: 0 8px;
}

.search-exp .search .s-i {
    margin: 0 0 0 -5px;
    padding: 1px 8px 0 6px;
    width: 170px;
}

#main .logo {
    width: 178px;
    margin: -3px 8px;
    z-index: 12;
}

#main .logo__picture {
    width: 100%;
}

#main {
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-fostrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.nav-fostrap li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.nav-fostrap li a {
    display: inline-block;
    outline: 0;
    font-weight: 400;
}

#nav .active a {
    padding: 11px 0;
}

@media (max-width:980px) {
    li {
        margin: 20px auto;
    }

    #nav a:hover{
        padding: 0;
        border: none;
    }

    #nav .active a {
        border: none;
    }

    #main {
        flex-wrap: nowrap;
        padding: 0 50px;
    }

    #main .logo {
        margin: -3px 0;
    }

    .nav-fostrap {
        background: #131313;
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        left: -100%;
        top: 65px;
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
        margin: 0;
        border: 0;
        border-radius: 0;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 11;
    }

    .nav-fostrap.visible {
        text-align: center;
        top: 65px;
        left: 0;
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }

    .navbar-fostrap {
        margin: 20px 0;
    }

    .navbar-fostrap span {
        height: 2px;
        background: #fff;
        margin: 5px auto;
        display: block;
        width: 20px;
    }

    .navbar-fostrap span:nth-child(2) {
        width: 20px;
    }

    .navbar-fostrap span:nth-child(3) {
        width: 20px;
    }

    .nav-fostrap ul {
        border-top: 1px solid #777777;
    }

    .nav-fostrap li {
        display: block;
    }

    .nav-fostrap li a {
        display: block;
        color: #505050;
        font-weight: 600;
    }

    .cover-bg {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 420px) {
    #main {
        padding: 0 30px;
    }
}

/*----- Sort menu from portfolio navigation style*/
#menu_sort {
    margin-top: 43px;
}

#menu_sort .nav-menu--sort {
    padding: 5px 0;
}

#menu_sort .menu--sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    color: #777777;
}

#menu_sort button {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #777777;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
}

#menu_sort span:hover {
    padding: 15px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

#menu_sort .active span {
    padding: 13px 0;
    color: #ff9c00;
    border-top: 2px solid #ff9c00;
    border-bottom: 2px solid #ff9c00;
}

/*----- Social menu from footer navigation style*/
#menu__social {
    margin: 33px 0 53px;
}

#menu__social .nav-menu--social {
    padding: 5px 0;
}

#menu__social .menu--social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    color: #777777;
}

#menu__social li {
    list-style: none;
    width: 50px;
    text-transform: uppercase;
}

#menu__social li:last-child {
    margin-right: 0;
}

#menu__social a {
    font-size: .7rem;
}

#menu__social a:hover {
    padding: 15px 20px;
}

/*----- Menu controls from portfolio details navigation style*/
#menu_controls {
    background: #fff;
}

#menu_controls .menu--controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    color: #777777;
    text-align: center;
}

#menu_controls li {
    margin-right: 0;
    padding: 20px 0;
    width: 130px;
    border-left: 1px solid #ebebeb;
}

#menu_controls li:last-child {
    border-right: 1px solid #ebebeb;
}

#menu_controls a {
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #777777;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
}

#menu_controls a:hover {
    padding: 15px 0;
    color: #ff9c00;
}

#menu_controls .fa-angle-left {
    margin-right: 10px;
}

#menu_controls .fa-angle-right {
    margin-left: 10px;
}