#portfolio .hero {
    position: relative;
    background: url(../images/portfolio_hero.png) center right no-repeat #f0f0f2;
    background-size: contain;
    width: 100%;
    height: 280px;
}

.portfolio__section {
    text-align: center;
    padding: 0 0 60px;
    background: #fafafa;
}

.portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 64px 0 30px;
}

.portfolio__item {
    width: 33%;
    padding: 0;
    position: relative;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
}

/*----- Hover style -----*/
.portfolio__description {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    background: #131313;
    padding: 80px 20px 30px;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    width: 261px;
    height: 157px;
}

.portfolio__description a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.portfolio__description--icon {
    margin-bottom: 10px;
}

.portfolio__header {
    color: #ff9c00;
    font-size: 1rem;
    margin-bottom: 10px;
}

.portfolio__text {
    font-size: .875rem;
    line-height: 1.5;
    color: #777777;
}

/*----- Portfolio details Style -----*/
.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    color: #777777;
}

.portfolio-content--picture {
    width: 43%;
}

.portfolio-content--picture img {
    width: 100%;
}

.portfolio-content--description {
    font-family: 'Lato', sans-serif;
    width: 50%;
    text-align: left;
}

.portfolio-content--title {
    margin: 30px 0 20px;
    font-weight: 100;
    font-size: 1.5rem;
}

.portfolio-content--text {
    font-weight: 700;
    font-size: .8rem;
    margin: 12px 0;
}

.portfolio-details--text {
    background: #fff;
    padding: 20px;
    font-weight: 400;
    font-size: .7rem;
    line-height: 2.5;
}

.portfolio-details {
    font-weight: 400;
    font-size: .7rem;
    line-height: 2.5;
}

/*------ Share button -----*/
.share-button {
    position: relative;
    width: 50px;
}

.toggle {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 10;
    display: block;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    background: #131313;
}

.toggle:hover {
    color: #fff;
    background: #ff9c00;
}

.toggle:after {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    font-family: "FontAwesome";
    content: "";
    line-height: 50px;
    font-size: 26px;
    text-align: center;
    left: -2px;
}

.toggle-input {
    display: none;
}

.toggle-input:checked + .toggle:after, .toggle-input:checked + .toggle:before {
    background-color: #fff;
    content: "";
    height: 3px;
    width: 30px;
    position: absolute;
    left: 10px;
    top: 23px;
}

.toggle-input:checked + .toggle:after {
    transform: rotate(45deg);
    animation: bar1 0.3s forwards;
}

.toggle-input:checked + .toggle:before {
    transform: rotate(-45deg);
    animation: bar2 0.3s forwards;
}

.network-list li {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.43, 1.17, 0.69, 1.24);
}

.network-list a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    text-indent: 120%;
    text-decoration: none;
}

.network-list a:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-family: "FontAwesome";
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 50px;
    text-indent: 0;
    box-shadow: inset 0 0 0 1px #C8C7C0;
}

.network-list .facebook a:before {
    content: "";
    color: #4267b2;
}

.network-list .facebook a:hover:before {
    box-shadow: inset 0 0 0 2px #4267b2;
}

.network-list .googleplus a:before {
    content: "";
    color: #EC3F25;
}

.network-list .googleplus a:hover:before {
    box-shadow: inset 0 0 0 2px #EC3F25;
}

.network-list .twitter a:before {
    content: "";
    color: #1da1f2;
}

.network-list .twitter a:hover:before {
    box-shadow: inset 0 0 0 2px #1da1f2;
}

.network-list .linkein a:before {
    content: "";
    color: #0077b5;
}

.network-list .linkein a:hover:before {
    box-shadow: inset 0 0 0 2px #0077b5;
}

.network-list .pinterest a:before {
    content: "";
    color: #bd081c;
}

.network-list .pinterest a:hover:before {
    box-shadow: inset 0 0 0 2px #bd081c;
}

.network-list .instagram a:before {
    content: "";
    color: #e67750;
}

.network-list .instagram a:hover:before {
    box-shadow: inset 0 0 0 2px #e67750;
}

input:checked ~ .network-list li {
    opacity: 1;
}

input:checked ~ .network-list li:nth-child(1) {
    left: 60px;
}

input:checked ~ .network-list li:nth-child(2) {
    left: 120px;
}

input:checked ~ .network-list li:nth-child(3) {
    left: 180px;
}

input:checked ~ .network-list li:nth-child(4) {
    left: 240px;
}

input:checked ~ .network-list li:nth-child(5) {
    left: 300px;
}

input:checked ~ .network-list li:nth-child(6) {
    left: 360px;
}