.team_carousel {
    position: relative;
    margin-top: 64px;
}

#team__carousel .carousel-inner {
    position: relative;
    margin-bottom: 83px;
}

#team__carousel .item {
    position: relative;
    transition: .6s ease-in-out left;
}

#team__carousel .slide {
    display: flex;
}

#team__carousel .img_item:last-child {
    margin-right: 0;
}

#team__carousel .img_item {
    width: 212px;
    margin-right: 16px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#team__carousel img {
    width: 100%;
    height: auto;
}

/* Text */
.name {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 22px 0 10px;
}

.position {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: 20px;
}

/*----- Hover style -----*/
.member__description {
    display: none;
    width: 212px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    /*left: 0;*/
    top: 0;
}

.member_social {
    background: #262626;
    padding: 74px 20px;
    display: flex;
    justify-content: center;
}

.member_social--item {
    margin: auto;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member_social a {
    color: #262626;
}

.member_social--icon {
    margin: 10px;
}

.member__description--icon {
    margin-bottom: 10px;
}

.name__description {
    color: #ff9c00;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 26px 0 10px;
}

.position__description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .8rem;
    margin-bottom: 20px;
}