a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#carousel {
    width: 50%;
    height: 80%; display: block;
    left: 25%; bottom: 10%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;
}
#carousel figure {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: opacity 1.5s, background-color 0.1s;
}
#carousel figure img {
    width: 90%;
    margin: 5%;
    height: auto;
    -webkit-box-shadow: 0 27px 62px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 27px 62px 0 rgba(0,0,0,0.5);
    box-shadow: 0 27px 62px 0 rgba(0,0,0,0.5);
    border-radius: 0.2em;
}


.little-text-block {
    width: 80%;
    background-color: rgb(87,123,234);
    margin: 0 auto;
    bottom: 30%;
    left: 10%;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    position: absolute;
}
/*
#carousel figure.main-panel {
  background-color: blue;
}
#carousel figure.background-panel {
  background-color: red;
}
#carousel figure.side-panel {
  background-color: green;
}

#carousel figure.background-panel, #carousel figure.side-panel { opacity: 0 !important; }
#carousel figure.background-panel { opacity: 0 !important; } */

h3 {
    padding: 1em;
    background-color: #3c3c3c;
}