footer#footer
    .container
        .footer
            .footer--logo
                a(href="/").logo: img.logo__picture(src="images/logo_footer.png" alt="logo")

            include nav_social

            .copyright--text Design by  Serhii Kovtoniuk
