#menu.nav-menu
    ul.menu
        li.active
            a(href='') Home
        li
            a(href='#portfolio') Portfolio
        li
            a(href='#about') About
        li
            a(href='#blog') Blog
        li
            a(href='#contact') Contact
        li
            i.fas.fa-search

