#menu__social.nav-menu--social
    ul.menu--social
        li
            a(href='https://www.facebook.com/')
                i.fab.fa-facebook-f
        li
            a(href='https://plus.google.com/')
                i.fab.fa-google-plus-g
        li
            a(href='https://twitter.com/')
                i.fab.fa-twitter
        li
            a(href='https://www.linkedin.com/')
                i.fab.fa-linkedin-in
        li
            a(href='https://www.pinterest.com/')
                i.fab.fa-pinterest-p
        li
            a(href='https://www.instagram.com/')
                i.fab.fa-instagram