#menu_sort
    nav#nav_sort.nav-menu--sort
        ul.menu--sort
            li
                a(href='#') all
            li
                a(href='#') logo
            li
                a(href='#') mobile app
            li
                a(href='#') wordpress
            li
                a(href='#') web design
            li
                a(href='#') ui / ux
            li
                a(href='#') branding