input#one(type='radio', name='carousel-state', checked='')
input#two(type='radio', name='carousel-state')
input#three(type='radio', name='carousel-state')
.controls
    label.one(for='one')
    label.two(for='two')
    label.three(for='three')
ul.things
    li.one 1
    li.two 2
    li.three 3
