#hero__carousel.carousel.slide(data-ride='.hero_carousel').hero_carousel
    // Wrapper for slides
    .carousel-inner
        //Slide 1
        .item.active
            img(src='images/slider_2.png' alt="slide_1")
            .slider--description
                h5.slide__title why
                    span.slide__title_orange creative ?
                p.slider__text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac
                    nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu
                    tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum
                    vitae
                .slider__btn
                    .btn.button_orange.button--text features
                    .btn.button_black.button--text Free PSD
        //Slide 2
        .item
            img(src='images/slider_1.png' alt="slide_2")
            .slider--description__two
                h5.slide__title design &
                    span.slide__title_orange branding
                p.slider__text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac
                    nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu
                    tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum
                    vitae
                .slider__btn
                    .btn.button_orange.button--text features
                    .btn.button_black.button--text Free PSD
        //Slide 3
        .item
            img(src='images/slider_3.png' alt="slide_3")
            .slider--description
                h5.slide__title design &
                    span.slide__title_orange branding
                p.slider__text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac
                    nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu
                    tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum
                    vitae
                .slider__btn
                    .btn.button_orange.button--text features
                    .btn.button_black.button--text Free PSD