#hero__carousel.carousel.slide(data-ride='.hero_carousel').hero_carousel
    // Wrapper for slides
    .carousel-inner
        //Slide 1
        .item.active
            img.d-block.w-100(src='images/slider_1.png' alt="slide_1")
        //Slide 2
        .item
            img.d-block.w-100(src='images/slider_2.png' alt="slide_2")
        //Slide 3
        .item
            img.d-block.w-100(src='images/slider_3.png' alt="slide_3")