#carouselExampleControls.carousel.slide(data-ride='carousel')

    // Carousel sliders
    .carousel-inner
        .carousel-item.active
            img.d-block.w-100(src='images/slider_1.png', alt='First slide')
        .carousel-item
            img.d-block.w-100(src='images/slider_2.png', alt='Second slide')
        .carousel-item
            img.d-block.w-100(src='images/slider_3.png', alt='Third slide')

    //Carousel controls
    a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
        span.carousel-control-prev-icon
            i.fas.fa-angle-left
        span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
        span.carousel-control-next-icon
            i.fas.fa-angle-right
        span.sr-only Next